# Игнорируем файлы и папки, которые не должны попасть в Docker-образ.
# Это помогает ускорить сборку и уменьшить размер образа.

# Зависимости, установленные в Docker-контейнере.
node_modules

# Папки Next.js, созданные во время сборки.
.next

# Системные и кэш-файлы.
.vscode
.git
.env
.DS_Store

# Файлы, специфичные для Docker.
Dockerfile
.dockerignore

# Логи.
npm-debug.log
